openapi: 3.2.0
info:
  title: Allsearch Article API
  description: Backend API for allsearch.princeton.edu
  version: v1
servers:
- url: https://allsearch-api.princeton.edu
- url: https://allsearch-api-staging.princeton.edu
tags:
- name: Article
paths:
  /search/article:
    parameters:
    - name: query
      in: query
      description: A string to query the Summon API, aka Articles+
      schema:
        type: string
    get:
      summary: /search/article?query={query}
      tags:
      - Article
      operationId: searchArticle
      description: Searches the Summon API using a query term. Excludes Newspaper Articles and items not held by PUL
      responses:
        '200':
          description: successful
          content:
            application/json:
              example:
                number: 998201
                records:
                - title: Potato
                  creator: Quandahor, Peter
                  publisher: MDPI AG
                  id: 10.3390/plants11202757
                  type: Journal Article
                  description: This study was conducted to determine the aphicidal effect of a leaf extract of the Atlantic potato cultivar on the performance of green peach aphids...
                  url: http://princeton.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwpV3dS9xAEF-KFipIsVaotooI6oOkmtvN7gZEuVPPOz3p9QxFn45NsvcBJRHvIpx_vTPJ5sPWB8WXcFmWTXIzOzu_2d_MErL7jz3otBvWVaPVcpl30fzT4RasUa5tIVa8ci86Tu_GuT0zWQSTrP4fZv-CEBCnT8yUeSHbAfNWkec4y0-aOh6bDXaMMx3Y3V67DxDY23kAAZe3IPp8Hu5s0-Z7tQbaQG8wC_cNmlMMCg3wG_QHrqBBcH2VDnVjcEXjqv-KZxxN00BtA5a_v5U4wu8EYxKjDP0_Y_2ex0lq6JO7fJlEAtDY7PYn0axCCxonhgMQDR9HselughKAZ3N6myEmnXbbe_Xz0pahFwKOfFZc86d-oS03xnZF6dI0uf-MPKUusiLv0g8GdxE3XkW5nBUkw7pgnApATACO5wFZCmR8_rq0ixAcOssyPRy3eJWsrCc-Yf_5-GbFrvge3hL5bEDDZj2T0BfyQUfL5GMDpBPNvpLFw9FRJqnD_dHRCvGaZ95JyzKnXFhDQWEaCA0Yzw0ZDWyppORChUqzQPqyFgoqNA8HrmY8dJUesANlp_WHfF9SGfBQBPQb2QQv02fc50o6NcYlV_Dhjq8Vq_mBEyi1Srbw5ftY7yNCQtFQJZNJv33d65d_0irZNZ0G8fReBcrkZ8SRxhJhlZ5rrxnuO1koFeMHmZveJ3qdfCom90Ya_dhIJfIE8rxG9w
                  other_fields:
                    publication_date: '20221001'
                    publication_year: '2022'
                    fulltext_available: Full-text available
                    abstract: This study was conducted to determine the aphicidal effect of a leaf extract of the Atlantic potato cultivar on the performance of green peach aphids. Three concentrations of the leaf extract (100, 75, and 50% potato extract), synthetic pesticide (Beta cypermethrin 4.5%), and distilled water (control) treatments were applied in a greenhouse experiment. The results showed that the synthetic pesticide, which was used as a standard check, caused the maximum aphid mortality, followed by the 100% potato leaf extract. Compared with the other botanical treatments, the 100% extract produced low mean rates of survival, aphids’ average daily reproduction, the number of nymphs per plant, and the number of nymphs per adult. This treatment also increased the accumulation of hydrogen Peroxide (H[sub.2]O[sub.2]) and malondialdehyde (MDA), glutathione-s-transferase, mixed-function oxidase, and carboxylesterase content in the green peach aphid. Moreover, the 100% extract also protected the host plants against green peach aphid attacks by demonstrating higher chlorophyll content, net photosynthesis, above-ground fresh weight, and above-ground dry weight of the host plant. This study demonstrates that the highest concentration of potato (Atlantic cultivar) leaf extract (100% extract) could be used as the appropriate dosage for the control of green peach aphids on potatoes, which could greatly reduce the use of synthetic insecticides and promote ecosystem sustainability.
                    publication_title: Plants (Basel)
                    volume: '11'
                    issue: '20'
                    isxn: 2223-7747
                - title: An inducible potato (E,E)‐farnesol synthase confers tolerance against bacterial pathogens in potato and tobacco
                  creator: Dwivedi, Varun
                  publisher: Wiley Subscription Services, Inc
                  id: 10.1111/tpj.15890
                  type: Journal Article
                  description: '.... Through functional genomics, here we report the in planta role of potato (Solanum tuberosum) terpene synthase (StTPS18) in bacterial defense...'
                  url: http://princeton.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwnV1fa9swED_KKHQva7sN5rYr6l7aQk1jR3JsKIWkJGQhZaWkZXsykiw3hWCH2Hno0_oR-hn3SXbnf6SBQdmbQbIsS7q730mn3wEcr-mD8feefd0bDgM-GQ3ux56NNipwbPIVr4PRWNz-FL_6K9m-SoqIZs-NhKNQ2STjUmW1nJ_nc5Rz4QfksKPVp7wNzo-r5gih0y65oxCi22g23YpW6NWbr4zRukpegatuZW8G2_BQd7MItm7CTWgXThuEayuB2DWj43_91A58qCAp65ZraBc2TPIRNnspwsanT_C7mzD025f6Uc0Mu5hezrEgTy_Op5fspH_WP_3z_BLLBWrMdMaypySfol1kurhImLE8nRlK3WGYfJCPCEWZKumh8YOUDDnF9Zth-2sNyyRipGm0Tj_D3aA_uRraVdYGW7cRi9m6JVpxHCmtg5YbROi5G6G4E7m8HTtOzHkUc58bH5GoInp9D-0h5yoi2h309kz7CzCETYp7ypO-cLnne5IjLlJGcldpoaW04Fs9b-G8ZOUIa28GRzAsRtCCY5rRkCQ1X0gtqwsHaWKI8yrsdhzRIXeWW3BQT3pYiXAWuh309rCQCwuOmmIUPjpRkYlJl1iHqHICIgG04KSY1H93J5zcjIqHvbdX3Yf3Ll23KGLaDuBdvliar7DVLLbDYsn_BXhGB0k
                  other_fields:
                    publication_date: September 2022
                    publication_year: '2022'
                    start_page: '1308'
                    end_page: '1323'
                    fulltext_available: Full-text available
                    abstract: 'SUMMARY

                      Terpene synthases (TPSs) have diverse biological functions in plants. Though the roles of TPSs in herbivore defense are well established in many plant species, their role in bacterial defense has been scarce and is emerging. Through functional genomics, here we report the in planta role of potato (Solanum tuberosum) terpene synthase (StTPS18) in bacterial defense. Expression of StTPS18 was highest in leaves and was induced in response to Pseudomonas syringae and methyl jasmonate treatments. The recombinant StTPS18 exhibited bona fide (E,E)‐farnesol synthase activity forming a sesquiterpenoid, (E,E)‐farnesol as the sole product, utilising (E,E)‐farnesyl diphosphate (FPP). Subcellular localization of GFP fusion protein revealed that StTPS18 is localized to the cytosol. Silencing and overexpression of StTPS18 in potato resulted in reduced and enhanced tolerance, respectively, to bacterial pathogens P. syringae and Ralstonia solanacearum. Bacterial growth assay using medium containing (E,E)‐farnesol significantly inhibited P. syringae growth. Moreover, StTPS18 overexpressing transgenic potato and Nicotiana tabacum leaves, and (E,E)‐farnesol and P. syringae infiltrated potato leaves exhibited elevated expression of sterol pathway and members of pathogenesis‐related genes with enhanced phytosterol accumulation. Interestingly, enhanced phytosterols in 13C3‐(E,E)‐farnesol infiltrated potato leaves were devoid of any noticeable 13C labeling, indicating no direct utilization of (E,E)‐farnesol in phytosterols formation. Furthermore, leaves of StTPS18 overexpressing transgenic lines had no detectable (E,E)‐farnesol similar to the control plant, and emitted lower levels of sesquiterpenes than the control. These findings point towards an indirect involvement of StTPS18 and its product (E,E)‐farnesol in bacterial defense through upregulation of phytosterol biosynthesis and defense genes.

                      Significance Statement

                      Here we show that a pathogen‐responsive potato sesquiterpene synthase forming (E,E)‐farnesol confers indirect defense against bacterial pathogens through induced phytosterol biosynthesis and defense response in potato and tobacco. The findings demonstrate an indirect role of (E,E)‐farnesol in plant biotic stress tolerance.'
                    publication_title: 'The Plant journal : for cell and molecular biology'
                    volume: '111'
                    issue: '5'
                    isxn: 0960-7412
                - title: Eradication of Potato Virus S , Potato Virus A , and Potato Virus M From Infected in vitro -Grown Potato Shoots Using in vitro Therapies
                  creator: Bettoni, Jean Carlos
                  publisher: Frontiers Media S.A
                  id: 10.3389/fpls.2022.878733
                  type: Journal Article
                  description: Certain viruses dramatically affect yield and quality of potatoes and have proved difficult to eradicate with current approaches...
                  url: http://princeton.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwnV1ba9swFBbtGGwvYze27FK0pzGo4_gmWVAKTUmWdgkra1a2J6ObG0NjBdcZ7Ofsn-5ItsMS8rQXP-iChL4j6_ukoyOEPu78D6YXQ282nExYPL8c30yJB2sUCzyrFWfscpp8-5H8HB2gpLsO4_z2pSj65d2yXxYL5165Wkq_cxXzr2bnwGoCoBL-ITqkUfqPSm9ielviQ5tTSdBgzM9XdzY2dxj2U7DQyL6eEwGRAfoy2FqQXNz-fWRz12eyiSjlFqHxU_SkZY_4rOniM3Sgy-fo4dAAw_v9Av0ZVVy1e3DY5PhkcXoFWbU58Ren-Kao1vf4-nhv8tkx5qXamzXD48os8YXz2tIKFyX-VdSV8T5bBb9T5XphTH2PnSPCpiSeu0teoMlfou_j0fx84rVPMHgSiFPtKZ3mIlAgSiiRUTjQkocBjEGuSChB-YAaghSaE5ApcaA000CnBrkeKKYjqBi9Rhg4kIiJIDxNwpikhMdAcoTmcShkIjnvoU8dANmqCbGRgTSxuGUWt8ziljW49dDQIrQpZ4NjuwRT3WatfcD6n6YKmK6ijMdCEqGBE0HXhGSKUgUNfujwzWAy2RMSXmqzhpYIje2lmTDooVcN3pumOnvpIbplCVt92c4B43UBu1tjffPfNd-ix3YQrNdCwN6hB3W11u_RI7v1KzVohCO3lQDfr1-CIzcX_gIzOQ-b
                  other_fields:
                    publication_date: '2022-05-19'
                    publication_year: '2022'
                    start_page: '878733'
                    end_page: '878733'
                    fulltext_available: Full-text available
                    abstract: 'Certain viruses dramatically affect yield and quality of potatoes and have proved difficult to eradicate with current approaches. Here, we describe a reliable and efficient virus eradication method that is high throughput and more efficacious at producing virus-free potato plants than current reported methods. Thermotherapy, chemotherapy, and cryotherapy treatments were tested alone and in combination for ability to eradicate single and mixed

                      (PVS),

                      (PVA), and

                      (PVM) infections from three potato cultivars. Chemotherapy treatments were undertaken on

                      shoot segments for four weeks in culture medium supplemented with 100 mg L

                      ribavirin. Thermotherapy on

                      shoot segments was applied for two weeks at 40°C (day) and 28°C (night) with a 16 h photoperiod. Plant vitrification solution 2 (PVS2) and cryotherapy treatments included a shoot tip preculture followed by exposure to PVS2 either without or with liquid nitrogen (LN, cryotherapy) treatment. The virus status of control and recovered plants following therapies was assessed in post-regeneration culture after 3 months and then retested in plants after they had been growing in a greenhouse for a further 3 months. Microtuber production was investigated using

                      virus-free and virus-infected segments. We found that thermotherapy and cryotherapy (60 min PVS2 + LN) used alone were not effective in virus eradication, while chemotherapy was better but with variable efficacy (20-100%). The most effective result (70-100% virus eradication) was obtained by combining chemotherapy with cryotherapy, or by consecutive chemotherapy, combined chemotherapy and thermotherapy, then cryotherapy treatments irrespective of cultivar. Regrowth following the two best virus eradication treatments was similar ranging from 8.6 to 29% across the three cultivars. The importance of virus removal on yield was reflected in "Dunluce" free of PVS having higher numbers of microtubers and in "V500'' free of PVS and PVA having a greater proportion of microtubers > 5 mm. Our improved procedure has potential for producing virus-free planting material for the potato industry. It could also underpin the global exchange of virus-free germplasm for conservation and breeding programs.'
                    publication_title: Frontiers in plant science
                    volume: '13'
                    isxn: 1664-462X
                more: https://princeton.summon.serialssolutions.com/search?s.fvf=ContentType%2CNewspaper+Article%2Ct&s.normalized.subjects=f&s.secure=f&s.dailyCatalog=t&s.q=potato&s.dym=t&s.ho=t&s.rapido=f&s.ps=3&s.shortenurl=f
        '400':
          description: with a search query that only contains whitespace
          content:
            application/json:
              example:
                error:
                  problem: QUERY_IS_EMPTY
                  message: The query param must contain non-whitespace characters.
        '500':
          description: when we can't authenticate to the summon API
          content:
            application/json:
              example:
                error:
                  problem: UPSTREAM_ERROR
                  message: Could not authenticate to the upstream Summon service
